.env
/var/
/vendor/
.idea/*
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml.dist
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
.php_cs.dist
.php_cs.cache
###< friendsofphp/php-cs-fixer ###
tests/test.txt
